*,*::before,*::after {
  box-sizing: border-box
}
.container {
  all: initial;
}
.text-container, .calculation-container {
  width: 100%;
}
.text-container {
  padding: 1.25rem;
  text-align: left;
}
.text-container .headline {
  margin-bottom: 2.9375rem;
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--vt-form-color, #212529);
}
.calculation-container {
  display: grid;
  grid-auto-columns: 50%;
  grid-template-areas:
                'form result'
                'button button';

  gap: 1.5rem;
}
.form-container {
  grid-area: form;

  display: grid;
  gap: 1.5rem;
  text-align: start;
}
.result-container {
  grid-area: result;

  display: grid;
  gap: 1.5rem;
  grid-template-areas:
                'head head'
                'graph inflation'
                'overview overview';
}
.button-container {
  grid-area: button;
}
.form-container .headline, .result-container .headline {
  padding-bottom: 2.1875rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--vt-form-color, #212529);
}
.result-container .headline {
  grid-area: head;
  height: fit-content;
}
.alert-danger {
  display: none;
  color: var(--vt-danger-color, #842029);
  background-color: var(--vt-danger-background-color, #f8d7da);
  border-color: var(--vt-danger-border-color, #f5c2c7);
}
.alert-warning {
  display: none;
  color: var(--vt-warning-color, #664d03);
  background-color: var(--vt-warning-background-color, #fff3cd);
  border-color: var(--vt-warning-border-color, #ffecb5);
}
.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-width: var(--vt-form-border-width, 1px);
  border-style: solid;
  border-radius: var(--vt-form-border-radius, 0.25rem);
  border-color: var(--vt-alert-border-color, #000);
}
.form-container:has(.form-control:invalid, .form-select:invalid), .result-container {
  border-style: solid;
  border-width: var(--vt-form-border-width, 1px);
  border-radius: var(--vt-form-border-radius, 0.25rem);
  border-color: var(--vt-danger-color, #842029);
}
.form-floating, .position-relative {
  position: relative;
}
:required {
  /*background-color: blue; /**/
}
:required + label {
  position: relative;
  /*background-color: yellow; /**/
}
:required + label::after {
  position: absolute;
  content: ' (erforderlich)';
  color: var(--vt-danger-color, #842029);
  padding-left: 0.25rem;
}
.optional::after {
  position: absolute;
  content: ' (optional)';
  color: var(--vt-optional-color, #00ff00);
  padding-left: 0.25rem;
}
.form-control, .form-select {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--vt-form-color, #212529);
  background-color: var(--vt-background-color, #fff);
  border-color: var(--vt-form-border-color, #ced4da);
  border-style: solid;
  border-width: var(--vt-form-border-width, 1px);
  border-radius: var(--vt-form-border-radius, 0.25rem);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control {
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:not(:placeholder-shown):not(:focus):invalid, .form-control:out-of-range {
  border-color: var(--vt-danger-color, #842029);
}
.was-validated .form-control:valid {
  border-color: var(--vt-form-valid-color, #198754);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-control:invalid {
  border-color: var(--vt-form-invalid-color, #dc3545);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-select {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-clip: padding-box;
}
.was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"] {
  padding-right: 4.125rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-position: right 0.75rem center,center right 2.25rem;
  background-size: 16px 12px,calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .form-select:invalid {
  border-color: var(--vt-form-invalid-color, #dc3545);
}
.was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
  padding-right: 4.125rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-position: right 0.75rem center,center right 2.25rem;
  background-size: 16px 12px,calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated :invalid~.invalid-feedback, .was-validated:has(.form-control:invalid, .form-select:invalid) .alert-warning {
  display: block;
}
.form-select.is-valid, .was-validated .form-select:valid {
  border-color: var(--vt-form-valid-color, #198754);
}
.form-floating>.form-control, .form-floating>.form-select {
  padding: 1.625rem 0.75rem 0.625rem;
}
.form-floating>legend {
  padding: 0.625rem 0.75rem 0.625rem;
}
.form-floating>.form-control, .form-floating>.form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  opacity: .65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
.invalid-feedback, .form-text {
  padding: 0.25rem 0.75rem 0.25rem;
  font-size: var(--vt-helptext-fontsize, .875em);
}
.invalid-feedback {
  display: none;
  width: 100%;
  color: var(--vt-form-invalid-color, #dc3545);
}
.form-text {
  color: var(--vt-helptext-color, #6c757d);
}
.text-center {
  text-align: center;
}
.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}
.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
}
.form-check, .form-switch {
  display: inline-block;
  margin-right: 1rem;
  min-height: 1.5rem;
  padding-left: 2.5em;
  margin-bottom: 0.125rem;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check .form-check-input, .form-switch .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: var(--vt-background-color, #fff);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-width: var(--vt-form-border-width, 1px);
  border-style: solid;
  border-color: var(--vt-form-border-color, rgba(0,0,0,.25));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}
input[type=checkbox], input[type=radio] {
  position: static;
  margin-left: 0;
}
.btn:hover {
  text-decoration: none;
}
.btn {
  width: max(30%, 100px);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.25;
  background-color: var(--vt-button-background-color, #000);
  border-color: var(--vt-button-border-color, #000);
  border-radius: var(--vt-button-border-radius, 0);
  color: var(--vt-button-color, #fff);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.8125rem 0.75rem 0.8125rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.provision-chart-container {
  grid-area: graph;
  width: 10.9375rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.inflation {
  grid-area: inflation;

  display: grid;
  gap: .2rem;
  grid-template-areas:
                'label label'
                'switch button';
  grid-auto-flow: row;
  height: fit-content;
}
.inflation-label {
  grid-area: label;
  height: fit-content;
}
.inflation-switch {
  grid-area: switch;
  height: fit-content;
}
.inflation-settings {
  grid-area: button;
  color: #999;
  text-decoration: none;
  background-color: var(--vt-background-color, #fff);
  width: fit-content;
  height: fit-content;
  padding: 0;
  border-color: transparent;
}
.inflation-settings svg {
  margin: auto;
}
.chart-result-list {
  grid-area: overview;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.chart-result-list li {
  border-left: 4px solid #ebecee;
  border-top: 1px solid #ebecee;
  padding: 1.25rem 0.3125rem;
  line-height: 1.25rem;
  color: #495057;
}
.chart-result-list li.chart-amount-1 {
  color: #2cc1d5;
  border-left-color: #2cc1d5;
}
.chart-result-list li.chart-amount-2 {
  color: #005e97;
  border-left-color: #005e97;
}
.chart-result-list li.chart-amount-3 {
  color: #ff1f00;
  border-left-color: #ff1f00;
}
.chart-result-list li.chart-amount-box .amount {
  font-weight: 700;
  font-size: 1.25rem;
}
.modal {
  border: none;
  padding: 0;
}
.modal[open] {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}
.modal-header, .modal-footer {
  border: none;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.btn-close:not(.btn-rente-refresh) {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: rgba(0,0,0,0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
}
.btn-rente-refresh {
  width: fit-content;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.slider-container {
  width: 100%;
  position: relative;
  margin-top: 0.9375rem;
}
.slider-container .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background: #ebecee;
  outline: none;
  opacity: .75;
  transition: opacity .2s;
}
.slider-container .slider-tooltip {
  width: auto;
  height: auto;
  padding: 0.1875rem 0.625rem;
  position: absolute;
  bottom: 2.5625rem;
  left: 50%;
  text-align: center;
  font-size: 0.875rem;
  color: #fff;
  white-space: nowrap;
  background-color: #212529;
  border-radius: 0.1875rem;
}
.slider-container .slider-tooltip:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.375rem 0.40625rem 0 0.40625rem;
  border-color: #212529 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
  position: absolute;
  top: 100%;
  left: calc(50% - 0.40625rem);
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
}
.justify-content-between {
  justify-content: space-between !important;
}
.row {
  display: grid;
  grid-auto-columns: 66.66666667% 33.33333333%;
  grid-template-areas:
                'label price'
                'info info';
}
.col-8 {
  grid-area: label;
}
.col-4 {
  grid-area: price;
}
.row .form-text {
  grid-area: info;
}
.text-end {
  text-align: end !important;
}

.d-none {
  display: none;
}
label {
  display: inline-block;
}
select {
  word-wrap: normal;
}
button, select {
  text-transform: none;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  line-height: inherit;
}
button:not(:disabled) {
  cursor: pointer;
}